<div class="geral">
    <div>
        <img width="500" alt="Angular Logo" src='../../assets/image-product-1.jpg' class="image">
    </div>
    <div>
        <h3>SNEAKERS COMPANY</h3>

        <h1>Fall limite Sneakers</h1>

        <p>
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley
        </p>

        <h2> {{ '125' | currency}}<span class="desconto"> -50%</span></h2>
        <span style="text-decoration: line-through">{{ '250' | currency}}</span>
    </div>

</div>
