<div class="toolbar" role="banner">
    <img [routerLink]="['/']" width="300" alt="Angular Logo" src='../assets/logo.svg' />
    <ul>
        <li> <a routerLink="/collections"> Colletctions</a> </li>
        <li> <a routerLink="/mens"> Mens</a> </li>
        <li> <a routerLink="/women"> Women</a> </li>
        <li> <a routerLink="/about"> About</a> </li>
        <li> <a routerLink="/contact"> Contact</a> </li>
    </ul>

    <div class="spacer"></div>
    <a href=""></a><img width="20" alt="Angular Logo" src='../assets/icon-cart.svg' />

    <img width="40" alt="Angular Logo" src='../assets/image-avatar.png' />


</div>