<app-products-details></app-products-details>
<div class="tumbnailButton">
    <app-thumbnail-products></app-thumbnail-products>
    <app-add-cart></app-add-cart>
</div>


<app-products-details></app-products-details>
<div class="tumbnailButton">
    <app-thumbnail-products></app-thumbnail-products>
    <app-add-cart></app-add-cart>
</div>


<app-products-details></app-products-details>
<div class="tumbnailButton">
    <app-thumbnail-products></app-thumbnail-products>
    <app-add-cart></app-add-cart>
</div>
